/* GENERAL  */

html, body, .body, #fiddly {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin-top: -20px;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  padding-bottom: 60px;
}

.container {
  width: 1100px;
  max-width: 80%;
  margin: auto;
}

iframe {
  margin: 20px 0;
}

/* CODE */

code {
  font-size: 18px;
  background: rgba(0, 0, 0, .05);
  border-radius: 2px;
  padding: 3px 5px;
  color: rgba(0, 0, 0, .84);
  line-height: 1.5;
  display: initial;
}

/* TEXT */

p, i, a, li {
  margin-top: 21px;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

li {
  margin-top: 10px;
}

a {
  text-decoration: underline;
}

blockquote {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

mark, .highlighted {
  background: #7DFFB3;
}

::selection {
  background-color: lavender
}

/* HEADER */

.logo {
  max-width: 300px;
  margin: 20px 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 20px 0;
}

header h1 {
  text-transform: capitalize;
}

/* HEADINGS */

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

h1, h2, p, i, a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.anchor {
  padding-right: 10px;
  margin: 0;
}
